<%= form_for(@item) do |f| %>

  <%= f.text_field :location, :value => "Enter a URL to shorten", :type => "url", :class => "url required" %>
  <%= f.submit %>

  <div id="error_validation"></div>

  <% if @item.errors.any? %>
    <div id="error_explanation">
      <span class="heading">Looks like we have a micro issue:</span>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    </div>
  <% end %>

<% end %>
