<!-- Show -->

<div id="main">
	<a href="http://awwso.me/u/<%= @identifier %>" class="location"><%= @item.location.gsub('http://', '').gsub('https://', '').strip %></a>
	
	<div class="identifier">
		<span>http://awwso.me/u/<%= @identifier %></span>
	</div>
</div>